@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.bg-wedding-background {
  background-color: #FFF5F2;
  background-image: radial-gradient(#FFD5CC 0.5px, transparent 0.5px);
  background-size: 10px 10px;
}